<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Community created memes for all Moonbirds">
    <title>Moon Meme | #<%= birdId %></title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.png" type="image/x-icon">
  </head>
  <body>
    <header>
      <h1>Moon Meme</h1>
      <h2>Moonbirds #<%= birdId %></h2>
    </header>
    <main id="view">
        
        <a href="/lunar-landing/<%= birdId %>.png"><img loading="lazy" src="/lunar-landing/<%= birdId %>.png"/></a>
        <a href="/gme-art/<%= birdId %>.png"><img loading="lazy" src="/gme-art/<%= birdId %>.png"/></a>
        <a href="/hoot-hoot-train/<%= birdId %>.png"><img loading="lazy" src="/hoot-hoot-train/<%= birdId %>.png"/></a>
        <a href="/bat-hang/<%= birdId %>.png"><img loading="lazy" src="/bat-hang/<%= birdId %>.png"/></a>
        <a href="/moon-watching/<%= birdId %>.png"><img loading="lazy" src="/moon-watching/<%= birdId %>.png"/></a>

        <a href="/distracted-boyfriend/<%= birdId %>.png"><img loading="lazy" src="/distracted-boyfriend/<%= birdId %>.png"/></a>
        <a href="/charlie-conspiracy/<%= birdId %>.png"><img loading="lazy" src="/charlie-conspiracy/<%= birdId %>.png"/></a>

        <a href="/healing-pool/<%= birdId %>.png"><img loading="lazy" src="/healing-pool/<%= birdId %>.png"/></a>
        <a href="/crashed-module/<%= birdId %>.png"><img loading="lazy" src="/crashed-module/<%= birdId %>.png"/></a>
        <a href="/dolphin-tank/<%= birdId %>.png"><img loading="lazy" src="/dolphin-tank/<%= birdId %>.png"/></a>
        <a href="/simple-sunrise/<%= birdId %>.png"><img loading="lazy" src="/simple-sunrise/<%= birdId %>.png"/></a>
        <a href="/laughing-leo/<%= birdId %>.png"><img loading="lazy" src="/laughing-leo/<%= birdId %>.png"/></a>
        <a href="/breaking-news/<%= birdId %>.png"><img loading="lazy" src="/breaking-news/<%= birdId %>.png"/></a>
        <a href="/laser-eyes/<%= birdId %>.png"><img loading="lazy" src="/laser-eyes/<%= birdId %>.png"/></a>
        <a href="/kelce-yell/<%= birdId %>.png"><img loading="lazy" src="/kelce-yell/<%= birdId %>.png"/></a>

    </main>
    <footer>
      Created by <a href="https://twitter.com/nix_eth">nix.eth</a> powered by sprites from <a href="https://twitter.com/RealPixelShop">the pixel shop</a>
    </footer>
  </body>
</html>